[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# SCWarn
numpy = ">=1.17.4"
matplotlib = ">=3.0.3"
pandas = ">=0.25.3"
tensorflow = ">=1.13.1"
torch = ">=1.3.1"
pyyaml = ">=5.3.1"
scikit-learn = ">=0.23.2"
statsmodels = ">=0.12.1"
tqdm = ">=4.52.0"

# cli app
click = ">=8.1.3"

[dev-packages]
autopep8 = ">=2.0.0"

[requires]
python_version = "3.10"
